
<form action="/pirates" method="post">
  <p><label for="pirate[name]">Pirate Name: </label><input id="pirate[name]" type="text" name="pirate[name]"></p>
  <p><label for="pirate[weight]">Pirate Weight: </label><input id="pirate[weight]" type="text" name="pirate[weight]"></p>
  <p><label for="pirate[height]">Pirate Height: </label><input id="pirate[height]" type="text" name="pirate[height]"></p>

  <p><label for="ship_name_1">Ship Name: </label><input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <p><label for="ship_type_1">Ship Type: </label><input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
  <p><label for="ship_booty_1">Ship Booty: </label><input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

  <p><label for="ship_name_2">Ship Name: </label><input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
  <p><label for="ship_type_2">Ship Type: </label><input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
  <p><label for="ship_booty_2">Ship Booty: </label><input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>

  <input id="submit" type="submit" value="Submit">
</form>